<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Time Favorites</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/movies">Pik a Flik!</a>
            <a class="active" href='/movies/favorites'>All-Time Favorites</a>
            <a href="/users/lists">My Lists</a>
            <a href="/users/profile">My Account</a>
            <a href="/auth/logout">Sign Out</a>
        </nav>
    </header>

    <div class='content-box'>
        <div class='search-menu'>
            <h1>All-Time Favorites!</h1>

            <form class ="filter-list-form" action='/movies/favorites/filter?_method=PUT' method=POST>
                <select name="pickedGenre">
                    <option value="allGenres" selected>All Genres</option>
                    <% for(let i = 0 ; i < genres.length ; i++) { %>
                        <option value="<%=genres[i].genre%>"
                            <% if(locals.filters && filters.pickedGenre == genres[i].genre) { %> 
                                selected
                            <% } %>   
                        >
                            <%=genres[i].genre%>
                        </option>
                    <% } %>
                </select>
                <button type="submit">Filter</button>
            </form>
        </div>

        <div class=search-scroll-box>
            <% if(locals.movies) { %>
                <div class='search-results-container'>
                    <ul class='search-results-list'>
                        <% for(let i = 0 ; i < movies.length ; i++ ) { %>
                            <li class='movie-list-item'>
                                <div class="favorite-count">
                                    <h2>&star;</h2>
                                    <h2><%=favorites[i]%></h2>
                                </div>
                                <div class='movie-list-data'>
                                    <img class='thumbnail ' src="<%=movies[i].Poster%>" alt="">
                                    
                                    <div class='movie-title-column'>
                                        <h2>
                                            <a class='title' href="/movies/<%=movies[i].imdbID%>"><%=movies[i].Title%></a>
                                        </h2>
                                        <p class='genres'>
                                            <% for(let j = 0; j<movies[i].Genres.length; j++){%>
                                                <%=movies[i].Genres[j].genre%> 
                                            <% } %>
                                        </p>
                                    </div>

                                    <div class='movie-data-column'>
                                        <p class='year'><%=movies[i].Year%></p>
                                        <a class='imdbLink' href="https://www.imdb.com/title/<%=movies[i].imdbID%>/" target="_blank">
                                            <%=movies[i].Title%> on IMDb
                                        </a>

                                    </div>
                                    <div class='button-container'>
                                        <form class="add-pick-list add-pick-list-movie-tile" action='/users/lists/addUserMovie' method=POST>
                                            <input name='haveSeen' value='false' type="hidden">
                                            <input name='favorite' value='false' type="hidden">
                                            <button class="btn btn-secondary" name='imdbId' type="submit" value="<%=movies[i].imdbID%>">Pik It!</button>
                                        </form>
                                        <form class="add-watch-list add-watch-list-movie-tile" action='/users/lists/addUserMovie' method=POST>
                                            <input name='haveSeen' value='true' type="hidden">
                                            <input name='favorite' value='false' type="hidden">
                                            <button class="btn btn-secondary" name='imdbId' type="submit" value="<%=movies[i].imdbID%>">Seen It!</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        </div>
    
    </div>
    
    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="https://www.linkedin.com/in/marissaberns/" target="_blank">
                Marissa Cadavid
            </a>
        </p>
    </footer>
</body>
</html>