<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Time Favorites</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <header>
        <nav class="nav-bar">
            <a class="active" href="/movies">Pik a Flik!</a>
            <a href="/users/lists">My Lists</a>
            <a href="/users/profile">My Account</a>
            <a href="/auth/logout">Sign Out</a>
        </nav>
    </header>

    <div class='content-box'>
        <div class='search-menu'>
            <h1>All-Time Favorites!</h1>
        </div>

        <div class=search-scroll-box>
            <% if(locals.movies) { %>
                <div class='search-results-container'>
                    <ul class='search-results-list'>
                        <% for(let i = 0 ; i < movies.length ; i++ ) { %>
                            <li class='movie-list-item'>
                                <div class="favorite-count">
                                    <h2>&star; <%=favorites[i]%></h2>
                                </div>
                                <div class='movie-list-data'>
                                    <img class='thumbnail ' src="<%=movies[i].Poster%>" alt="">
                                    <a href="/movies/<%=movies[i].imdbID%>">
                                        <h2><%=movies[i].Title%></h2>
                                    </a>
                                    <p><%=movies[i].Year%></p>
                                    <a href="https://www.imdb.com/title/<%=movies[i].imdbID%>/">
                                        <%=movies[i].Title%> on IMDb
                                    </a>
    
                                    <form class="add-pick-list" action='/users/lists/addUserMovie' method=POST>
                                        <input name='haveSeen' value='false' type="hidden">
                                        <input name='favorite' value='false' type="hidden">
                                        <button name='imdbId' type="submit" value="<%=movies[i].imdbID%>">Pick It!</button>
                                    </form>
                                    <form class="add-watch-list" action='/users/lists/addUserMovie' method=POST>
                                        <input name='haveSeen' value='true' type="hidden">
                                        <input name='favorite' value='false' type="hidden">
                                        <button name='imdbId' type="submit" value="<%=movies[i].imdbID%>">Seen It!</button>
                                    </form>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        </div>
    
    </div>
    
    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="https://www.linkedin.com/in/marissaberns/" target="_blank">
                Marissa Cadavid
            </a>
        </p>
    </footer>
</body>
</html>