<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Flick!</title>
</head>
<body>
    <h1>Search Page</h1>

    <form action="">
        <input type="text" name="title" id="" />
        <input type="submit" name="search" id="" />
    </form>

    <h2><%=movie.Title%></h2>
    <img src="<%=movie.Poster%>" alt="">
    <p><%=movie.Plot%></p>
    <a href="https://www.imdb.com/title/<%=movie.imdbID%>/">
        <%=movie.Title%> on IMDb
    </a>
    
</body>
</html>