<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pik a Flik!</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <header>
        <nav class="nav-bar">
            <a class="active" href="/movies">Pik a Flik!</a>
            <a href='/movies/favorites'>All-Time Favorites</a>
            <a href="/users/lists">My Lists</a>
            <a href="/users/profile">My Account</a>
            <a href="/auth/logout">Sign Out</a>
        </nav>
    </header>

    <div class='content-box'>
        <div class='search-menu'>
            <h1>Pik a Flik!</h1>
        
            <form class='search-form' action="/movies/search" method="POST">
                <% if(locals.message) { %>
                    <h2 class='error-message'><%=message%></h2>
                <% } %>
                <input type="text" name="title" id="" />
                <input type="submit" name="search" id="" />
            </form>
        </div>

        <div class=search-scroll-box>
            <% if(locals.movies) { %>
                <div class='search-results-container'>
                    <ul class='search-results-list'>
                        <% for(let i = 0 ; i < movies.length ; i++ ) { %>
                            <li class='movie-list-item'>
                                <div class='movie-list-data'>
                                    <img class='thumbnail ' src="<%=movies[i].Poster%>" alt="">
                                    <a class='title' href="/movies/<%=movies[i].imdbID%>">
                                        <h2><%=movies[i].Title%></h2>
                                    </a>
                                    <p class='year'><%=movies[i].Year%></p>
                                    <a class='imdbLink' href="https://www.imdb.com/title/<%=movies[i].imdbID%>/">
                                        <%=movies[i].Title%> on IMDb
                                    </a>
    
                                    <form class="add-pick-list" action='/users/lists/addUserMovie' method=POST>
                                        <input name='haveSeen' value='false' type="hidden">
                                        <input name='favorite' value='false' type="hidden">
                                        <button class="btn btn-primary"  name='imdbId' type="submit" value="<%=movies[i].imdbID%>">Pik It!</button>
                                    </form>
                                    <form class="add-watch-list" action='/users/lists/addUserMovie' method=POST>
                                        <input name='haveSeen' value='true' type="hidden">
                                        <input name='favorite' value='false' type="hidden">
                                        <button class="btn btn-primary"  name='imdbId' type="submit" value="<%=movies[i].imdbID%>">Seen It!</button>
                                    </form>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>

                <div class="search-again-tag">
                    <h3 class="search-again-header">Don't see what you're looking for? </h3>
                    <br>
                    <form class="search-web-button" action="/movies/search/web" method=POST>
                        <input type="hidden" name="searchedTitle" value="<%=searchedTitle%>" />
                        <button type="submit">Get more results from the web</button>
                    </form>
                </div>
            <% } %>
        </div>
    
    </div>
    
    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="https://www.linkedin.com/in/marissaberns/" target="_blank">
                Marissa Cadavid
            </a>
        </p>
    </footer>
</body>
</html>