<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=movie.Title%></title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">


</head>
<body>
    <header>
        <nav>
            <a href="/movies">Pick a Flick!</a>
            <a href="/users/lists">My Lists</a>
            <a href="/users/profile">My Account</a>
            <a href="/auth/logout">Sign out</a>
        </nav>
    </header>

    <div class='content-box'>
        <h1><%=movie.Title%></h1>
    
        <img class='poster' src="<%=movie.Poster%>" alt="">
        <h4>
            <% for(let i = 0; i<genres.length; i++) { %>
                <%=genres[i]%> 
            <% } %>
        </h4>
        <p><%=movie.Year%></p>
        <p>Rated <%=movie.Rated%> runtime <%=movie.Runtime%></p>
        <p>Directed by:<%=movie.Director%></p>
        <p>Written by:<%=movie.Writer%></p>
        <p>Actors: <%=movie.Actors%></p>
        <p>Metascore <%=movie.Metascore%></p>
        <p>IMDb Rating <%=movie.imdbRating%></p>
        <p><%=movie.Plot%></p>

        <form class="add-pick-list" action='/users/lists/addUserMovie' method=POST>
            <input name='haveSeen' value='false' type="hidden">
            <input name='favorite' value='false' type="hidden">
            <button name='imdbId' type="submit" value="<%=movie.imdbID%>">Pick It!</button>
        </form>
        <form class="add-watch-list" action='/users/lists/addUserMovie' method=POST>
            <input name='haveSeen' value='true' type="hidden">
            <input name='favorite' value='false' type="hidden">
            <button name='imdbId' type="submit" value="<%=movie.imdbID%>">Seen It!</button>
        </form>

        <a href="https://www.imdb.com/title/<%=movie.imdbID%>/">
            <%=movie.Title%> on IMDb
        </a>
    </div>

    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="#">
                Marissa Cadavid
            </a>
        </p>
    </footer>
</body>
</html>