<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=movie.Title%></title>

    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <header>
        <nav>
            <a href="/movies">Pick a Flick!</a>
            <a href="/users/lists">My Lists</a>
            <a href="/users/profile">My Account</a>
            <a href="/auth/logout">Sign out</a>
        </nav>
    </header>

    <div class='content-box'>
        <h1><%=movie.Title%></h1>
    
        <img class='poster' src="<%=movie.Poster%>" alt="">
        <p><%=movie.Year%></p>
        <p><%=movie.Director%></p>
        <p></p>
        <p><%=movie.Plot%></p>
        <a href="https://www.imdb.com/title/<%=movie.imdbID%>/">
            <%=movie.Title%> on IMDb
        </a>
    </div>

    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="#">
                Marissa Cadavid
            </a>
        </p>
    </footer>
</body>
</html>