<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/movies">Pik a Flik!</a>
            <a href='/movies/favorites'>All-Time Favorites</a>
            <a class="active" href="/users/lists">My Lists</a>
            <a href="/users/profile">My Account</a>
            <a href="/auth/logout">Sign Out</a>
        </nav>
    </header>

    <div class='content-box'>
        <div class="list-headers">
            <h2>Picked List</h2>
            <h2>Watched List</h2>
        </div>
        
        <form class ="filter-list-form" action='/users/lists/filter?_method=PUT' method=POST>
            <select name="pickedGenre">
                <option value="allGenres" selected>All Genres</option>
                <% for(let i = 0 ; i < genres.length ; i++) { %>
                    <option value="<%=genres[i].genre%>"
                        <% if(locals.filters && filters.pickedGenre == genres[i].genre) { %> 
                            selected
                        <% } %>   
                    >
                        <%=genres[i].genre%>
                    </option>
                <% } %>
            </select>
            <button type="submit">Filter</button>

            <select name="watchedGenre">
                <option value="allGenres" selected>All Genres</option>
                <% for(let i = 0 ; i < genres.length ; i++) { %>
                    <option value="<%=genres[i].genre%>"
                        <% if(locals.filters && filters.watchedGenre == genres[i].genre) { %> 
                            selected
                        <% } %>   
                    >
                        <%=genres[i].genre%>
                    </option>
                <% } %>
            </select>
            <button type="submit">Filter</button>
        </form>

        <div class='lists-box'>
            <div class="picked-list">
                <div class='list-page-scroll-box'>
                    <ul>
                        <% for(let i=0; i<pickedMovies.length; i++){%>
                            <li class="movie-list-item">
                                <div class="movie-list-data movie-list-data-lists">
                                    <img class ="thumbnail" src="<%=pickedMovies[i].Poster%>" alt="<%=pickedMovies[i].Poster%>" />
                                    <div class='title-genres'>
                                        <h3>
                                            <a class='title' href="/movies/<%=pickedMovies[i].imdbID%>"><%=pickedMovies[i].Title%></a>
                                        </h3>
                                        <p class='genres'>
                                            <% for(let j = 0; j<pickedMovies[i].Genres.length; j++){%>
                                                <%=pickedMovies[i].Genres[j].genre%> 
                                            <% } %>
                                        </p>
                                    </div>
                                    <p><%=pickedMovies[i].Year%></p>
                                    <p><%=pickedMovies[i].Director%></p>
                                    <form class="change-movie-list" action="/users/lists/changeMovieList?_method=PUT" method=POST>
                                        <button class="btn btn-primary" name='imdbId' type="submit" value="<%=pickedMovies[i].imdbID%>">Watched It!</button>
                                    </form>
                                    <form class ="remove-from-list" action='/users/lists/delete?_method=DELETE' method=POST>
                                        <button class="btn btn-primary" name='imdbId' type="submit" value="<%=pickedMovies[i].imdbID%>">Ditch It!</button>
                                    </form>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <div class="watched-list">
                <div class='list-page-scroll-box'>
                    <ul>
                        <% for(let i=0; i<watchedMovies.length; i++){%>
                            <li class="movie-list-item">
                                <div class="movie-list-data movie-list-data-lists">
                                    <img class="thumbnail" src="<%=watchedMovies[i].Poster%>" alt="<%=watchedMovies[i].Poster%>" />
                                    <div class='title-genres'>
                                        <h3>
                                            <a class='title' href="/movies/<%=watchedMovies[i].imdbID%>"><%=watchedMovies[i].Title%></a>
                                        </h3>
                                        <p class='genres'>
                                            <% for(let j = 0; j<watchedMovies[i].Genres.length; j++){%>
                                                <%=watchedMovies[i].Genres[j].genre%> 
                                            <% } %>
                                        </p>
                                    </div>
                                    <p class='year'><%=watchedMovies[i].Year%></p>
                                    <p class='director'><%=watchedMovies[i].Director%></p>
                                    <form class="change-movie-list" action="/users/lists/changeMovieList?_method=PUT" method=POST>
                                        <button class="btn btn-primary" name='imdbId' type="submit" value="<%=watchedMovies[i].imdbID%>">Didn't see it?</button>
                                    </form>
                                    <div class='button-container'>
                                        <form class="remove-from-list" action='/users/lists/delete?_method=DELETE' method=POST>
                                            <button class="btn btn-primary" name='imdbId' type="submit" value="<%=watchedMovies[i].imdbID%>">Ditch It!</button>
                                        </form>
                                        <form class="mark-favorited" action="/users/lists/markMovieFavorite?_method=PUT" method=POST>
                                            <button name='imdbId' value='<%=watchedMovies[i].imdbID%>' type='submit' class="favorite-button glyphicon glyphicon-star" 
                                                <% if(watchedMovies[i].UserMovie.favorite) { %>
                                                    style="color:gold" 
                                                <% } %>
                                            ></button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="https://www.linkedin.com/in/marissaberns/" target="_blank">
                Marissa Cadavid
            </a>
        </p>
    </footer>
    
</body>
</html>