<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Page</title>

    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <header>
        <nav>
            <a href="/movies">Pick a Flick!</a>
            <a href="/users/lists">My Lists</a>
            <a href="/users/profile">My Account</a>
            <a href="/auth/logout">Sign out</a>
        </nav>
    </header>

    <div class='content-box'>
        <h1>Account Information</h1>
        <form action='/users/profile/edit?_method=PUT' method=POST>
            Name: <input type="text" name="name" value="<%=user.name%>"><br><br>
            Username: <%=user.name%><br><br>
            Email: <input type="text" name="username" value="<%=user.username%>"><br><br>
            Favorite Genre: <select name="favoriteGenre">
                <%for (let i=0; i<genres.length; i++){%>
                    <option value="<%=genres[i].genre%>"
                        <% if(genres[i].genre === user.favoriteGenre){%>
                            selected="selected"
                        <%}%>
                        >
                        <%=genres[i].genre%></option>
                    <%}%>
                    </select>
                <br><br><br>
            <input type="submit" value="Edit Profile">
        </form>
        <br><br>
        <% if(locals.message){%>
            <%=locals.message%>
        <%}%>
        <br><br>
        <form action='/users/profile/changePassword?_method=PUT' method=POST>
            Current Password:<input type="text" name="currentPassword" ><br><br>
            New Password:<input type="text" name="newPassword" ><br><br>
            Retype New Password:<input type="text" name="newPasswordRepeat" ><br><br>
            <input type="submit" value="Change Password">
        </form>
        <br>
        <br>
        <form action='/users/profile/delete?_method=DELETE' method=POST>
            <input type="submit" value="Delete User">
        </form>
    </div>

    <footer>
        <p>
            Created by 
            <a href="#">
                Chris Myers
            </a> and 
            <a href="#">
                Marissa Cadavid
            </a>
        </p>
    </footer>
</body>
</html>